ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1125cm;
    overflow: hidden;
    background-color: transparent;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: transparent;
}

.active {
    background-color: #4CAF50;
}

h1 {
    font-family: "Times New Roman";
    color: brown;
    font-size: 50px;
    font-variant: small-caps;
    margin: 1cm 1cm 1cm 1cm;
    
}h2 {
    font-family: "arial" ;
    color: cadetblue;
    font-size: 30px;
    font-variant: normal;
}

body {
    margin: 1cm 1cm 1cm 1cm;
    shape-margin: circle;
}

h5 {
    color: cadetblue;
}

h4 {
    color: crimson;
}

section {
    background-color: white;
    margin: 1cm 1cm 1cm 1cm;
    border-radius: 15px;
}


/* Make sure that padding behaves as expected */

* {
    box-sizing: border-box
}


/* Container for skill bars */

.container {
    width: 50%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-right: 20px;
    /* Add some right padding */
    line-height: 40px;
    /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white;
    /* White text color */
}

.html {
    width: 90%;
    background-color: #4CAF50;
}


/* Green */

.css {
    width: 60%;
    background-color: #2196F3;
}


/* Blue */

.js {
    width: 75%;
    background-color: #f44336;
}


/* Red */

.php {
    width: 90%;
    background-color: #808080;
}


/* Dark Grey */
aside{
    background-image: url(bg51.jpg) ;
    margin: 1cm 1cm 1cm 1cm;
    padding: 1CM 1CM 1CM 1CM;
     border: 1px solid #ccc;
    border-radius: 4px;
}
img{
    float: inherit;
}
.one{
    color: dimgray;
    
}
.head{
    color: crimson;
    font-family: "Times New Roman", Times, serif;
    

 
}
footer{
 
    color:darkslateblue
   
}
h3{
    margin: 0cm 0cm 0cm 0cm;

}
.link{
    color: cornflowerblue;
    font-family: monospace;
    
}
.w3-card-2 {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        padding: 0 0px;
}

